<div class="follow-us mod-info">
  <h3>Follow us</h3>
  <div class="mod-follow-us">
    <ul>
      <% if @donor.twitter? %>
        <%= link_to("follow us", "http://twitter.com/#{@donor.twitter}", :class=>"twitter", :target=>"_blank") %>
      <% end %>
      <% if @donor.facebook? %>
        <%= link_to("visit our page", "http://facebook.com/#{@donor.facebook}", :class=>"facebook", :target=>"_blank") %>
      <% end %>
    </ul>
  </div>
</div>
