<div class="organizations-in-this-country mod-info">
  <h3>organizations in this country</h3>
  <ul>
    <li><a href="#">The hunger project</a></li>
    <li><a href="#">The hunger project</a></li>
    <li><a href="#">The hunger project</a></li>
    <li><a href="#">The hunger project</a></li>
    <li><a href="#">The hunger project</a></li>
  </ul>
</div>