<div class="project-locations mod-info">
  <h3>project locations</h3>
  <div class="mod-project-locations">
    <%= raw(projects_by_location(@site, @organization_projects_by_location)) %>
  </div>
</div>
