<div class="project-time-line mod-info">
  <h3>project time line</h3>
  <div class="mod-time-line">
    <span>04/01/2012</span>
    <p><span>47 months left</span></p>
    <span>01/03/2018</span>
  </div>
</div>