<div class="reporting-organization mod-info">
  <h3>reporting organization</h3>
  <div class="mod-reporting organization">
    <img src="" alt="">
    <a href="#">Adventist Developement and Relief Agency (ADRA)</a>
  </div>
</div>