<div class="main_layout layer">
 <div class="block edit first">
   <div class="top"></div>
   <div class="med">
     <div class="left">
       <h2 class="museo_sans"><%= @layer.title %></h2>
       <%= render :partial => 'form' %>
     </div>
   </div>
   <div class="bottom"></div>
 </div>
</div>

<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>

