.DS_Store
.bundle
doc/
db/*.sqlite3
log/*.log
tmp/**/*
public/system
bin/
install/
config/app_config.yml
update/

# front-end
*.log
.sass-cache
node_modules
public/.tmp
public/dist
public/app/vendor

app/views_old

config/database.yml
