<div class="mod-downloads">
  <span>Download this list: </span>
  <ul>
    <li><a href="#" class="csv">csv</a></li>
    <li><a href="#" class="xls">xls</a></li>
    <li><a href="#" class="kml">kml</a></li>
    <li><a href="#" class="embebed">Embebed this map</a></li>
  </ul>
</div>