<div class="articles-list">
  <% unless @projects.empty? %>
    <ul>
      <% @projects.each_with_index do |project,index| %>
        <li>
          <article class="mod-index-item">
            <h2><%= link_to(truncate(project['project_name'], :length=>65), project_path(project['project_id'])) %></h2>
            <p>
              <%= subtitle_donors_page(project, @site, donor_path( params[:id], @carry_on_filters.merge(:organization_id => project["organization_id"].to_i) ) ) %>
            </p>
            <p>
              <%= anglo(truncate(project['project_description'], :length => 175, :omission => "... <a href=\"#{project_path(project['project_id'])}\" class=\"learn_more\">Learn more</a>")) %>
            </p>
          </article>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <li>
        <article class="mod-index-item">
          <p class="no_results">No projects were found for this donor</p>
        </article>
      </li>
    </ul>
  <% end %>
</div>
