<li>
  <div class="grid-5">
    <article class="mod-article">
      <figure><img src="" alt=""></figure>
      <title><a href=""><h3 class="title-project"></h3></a></title>
      <footer>
        <span>by Helen International in <a href="#">Arnhui</a></span>
      </footer>
    </article>
  </div>
</li>
