<div class="row">
  <div class="grid-17">
    <nav class="categories-selector">
      <ul>
        <li><a href="#">sector</a></li>
        <li><a href="#">organization</a></li>
        <li><a href="#">donor</a></li>
        <li><a href="#">country</a></li>
        <li><a href="#">region</a></li>
        <li><a href="#">search</a></li>
      </ul>
    </nav>
    <a href="http://www.fedex.com/"><img src="" alt="FedEx logo"></a>
  </div>
</div>