<li>
  <article class="mod-index-item">
    <title><a href="#">Aid for Cuban Medical Students</a></title>
    <footer>
      <span>in <a href="#">Cuba</a> by <a href="#Global Links"></a></span>
    </footer>
    <body>
      <p>Global Links has been providing doctor’s kits – loaded with equipment for primary care to students at the Latin...</p>
      <a class="go-to-section" href="#">Learn more</a>
    </body>
  </article>
</li>
