<div id="map"></div>

<div class="selector">
  <ul>
    <% SiteLayer.where({:site_id => @site.id}).each do |sl| %>
      <li><a href="#" data-layer="<%= sl.layer.title %>" data-table="<%= sl.layer.cartodb_table %>" data-cartocss="<%= sl.layer_style.cartocss %>"><%= sl.layer.title %></a></li>
    <% end %>
  </ul>
</div>
