/*default layout color*/
a {
  color: #CE5D4C; }

div.main_head div.left h1, div.main_header div.left h1 {
  text-shadow: 0 1px #8E4035; }
div.main_head div.left p, div.main_header div.left p {
  color: #8E4035; }
div.main_head div.float_head, div.main_header div.float_head {
  background: url("/images/sites/search/head_mask.png") repeat 0 0 #ce5d4c !important; }
div#left_column div.float_left div.head {
  background: url("/images/sites/search/head_mask.png") repeat 0 0 #ce5d4c !important; }
  div#left_column div.float_left div.head h2 {
    color: white;
    text-shadow: 0 1px #8E4035; }
div#left_column div.float_left div.block a, div#left_column div.float_left div.block ul.clusters li a {
  color: #CE5D4C; }
div#left_column div.right ul li h4 a, div#left_column div.right ul li p.info a {
  color: #CE5D4C; }
div#left_column div.right h3 ul.download li a {
  color: #CE5D4C; }
div#pages div.left div.outer_head div.head {
  border-bottom: 1px solid #8E4035;
  background: url("/images/sites/search/head_mask.png") repeat 0 0 #ce5d4c !important; }
  div#pages div.left div.outer_head div.head h1 {
    text-shadow: 0 1px #8E4035; }
  div#pages div.left div.outer_head div.head p {
    color: #8E4035; }
  div#pages div.left div.outer_head div.head a {
    color: #CE5D4C;
    text-decoration: underline; }
div#pages div.left div.body a {
  color: #CE5D4C !important;
  text-decoration: none; }
div#pages div.left div.results_list ul li div.project_name h3 a {
  color: #CE5D4C; }
div#pages div.right div.block p a, div#pages div.right div.block ul li a {
  color: #CE5D4C; }
div#project div.left div.block div.logo a {
  color: #CE5D4C; }
div#project div.float_right div.head {
  background: url("/images/sites/search/head_mask.png") no-repeat 0 0 #d16150 !important; }
  div#project div.float_right div.head p {
    color: #8E4035; }
    div#project div.float_right div.head p a {
      color: #8E4035; }
      div#project div.float_right div.head p a:hover {
        color: #6F322A; }
div#project div.float_right div.block ul li div.info h4 a {
  color: #CE5D4C; }
div#project div.left div.block ul li a, div#project div.left div.block p a {
  color: #CE5D4C; }
div#superfooter_pages h2, div#superfooter_pages a {
  color: #CE5D4C; }

.cartodb-popup-content h2 {
  color: #8E4035; }

#contentOverlay h2, #contentOverlay a {
  color: #8E4035; }
