<div class="main_layout">
    <div class="block project_info">
        <div class="top"></div>
        <div class="med">
            <div class="left">
		<h2 class="museo_sans">Create a New Tag</h2>
                <%= render :partial => 'form' %>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</div>

<%= javascript_include_tag "backoffice/application.js" %>
