<label class="field-label"><%= label %>
    <% if required %>
        <strong>*</strong>
    <% end %>
    <div class="field_info">
        <span class="info">i</span>
        <div class="field_text">
            <div class="top">
                <a href="#close">x</a>
            </div>
            <div class="bottom">
                <h3><%= label %></h3>
                <span class="scroll">
                    <p><%= text %></p>
                </span>
            </div>
        </div>
    </div>
</label>