<div class="hero">
  <img src="" alt="">
</div>

<aside>
  <div class="row">
    <div class="grid-4">

      <div class="donors-in-this-country mod-info">
        <h3>donors in this country</h3>
        <ul>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
        </ul>
      </div>

    </div>
  </div>
</aside>

<section class="about">
  <div class="row">
    <div class="grid-12 offset-1">
      <article>
        <title><h2 class="section-title">About NGO Aid Map</h2></title>
        <section>
          <body>
            <p>NGO Aid Map is an InterAction initiative focused on collecting information on NGOs' work at the project level and making it accessible to donors, NGOs, businesses, governments and the public through an online, interactive mapping tool. The site, which primarily focuses on the work of InterAction members, aims to:</p>
            <ul>
              <li>Promote transparency</li>
              <li>Facilitate partnerships and improve coordination</li>
              <li>Help guide decisions about where to direct aid resources</li>
            </ul>
            <p>Best practices are highlighted in select areas, allowing for information sharing on effective approaches.</p>
            <a href="#">mappinginfo@interaction.org.</a>
          </body>
        </section>
        <section>
          <title><h3 class="subsection-title">Focus areas</h3></title>
          <body>
            <p>NGO Aid Map is an InterAction initiative focused on collecting information on NGOs' work at the project level and making it accessible to donors, NGOs, businesses, governments and the public through an online, interactive mapping tool. The site, which primarily focuses on the work of InterAction members, aims to:</p>
            <ul>
              <li>Promote transparency</li>
              <li>Facilitate partnerships and improve coordination</li>
              <li>Help guide decisions about where to direct aid resources</li>
            </ul>
            <p>Best practices are highlighted in select areas, allowing for information sharing on effective approaches.</p>
          </body>
        </section>
      </article>


    </div>
  </div>
</section> <!-- content -->
