<section class="map">

</section>

<div class="row">
  <div class="grid-17">
    <nav class="categories-selector">
      <ul>
        <li><a href="#">sector</a></li>
        <li><a href="#">organization</a></li>
        <li><a href="#">donor</a></li>
        <li><a href="#">country</a></li>
        <li><a href="#">region</a></li>
        <li><a href="#">search</a></li>
      </ul>
    </nav>
    <a href="http://www.fedex.com/"><img src="" alt="FedEx logo"></a>
  </div>
</div>

<aside>
  <div class="row">
    <div class="grid-4">

      <div class="projects mod-info">
        <h3>projects</h3>
        <span>23</span>
      </div>

      <div class="organizations mod-info">
        <h3>organizations</h3>
        <span>5</span>
      </div>

      <div class="countries mod-info">
        <h3>countries</h3>
        <span>1</span>
      </div>

      <div class="regions mod-info">
        <h3>regions</h3>
        <span>1</span>
      </div>

      <div class="follow-us mod-info">
        <h3>follow us</h3>
        <div class="mod-follow-us">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="goggle"></a></li>
            <li><a href="#" class="linkedin"></a></li>
          </ul>
        </div>
      </div>

      <div class="affiliated-organizations mod-info">
        <h3>affiliated organizations</h3>
        <ul>
          <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
          <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
          <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
          <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
          <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
        </ul>
      </div>

      <div class="project-locations mod-info">
        <div class="mod-project-locations">
          <a href="#">Sichuan <span>- 2</span></a>
          <a href="#">Shanghai <span>- 1</span></a>
        </div>
      </div>

      <div class="project-sectors mod-info">
        <h3>project sectors</h3>
        <div class="mod-project-sectors">
          <ul>
            <li class="medical"><span>23</span></li>
            <li class="water"><span>13</span></li>
            <li class="agriculture"><span>12</span></li>
            <li class="economic"><span>10</span></li>
          </ul>
        </div>
      </div>

      <div class="some-organizations mod-info">
        <h3>some organizations</h3>
        <ul>
          <li><a href="#">The hunger project <span> - 201 projects</span></a></li>
          <li><a href="#">The hunger project <span> - 201 projects</span></a></li>
          <li><a href="#">The hunger project <span> - 201 projects</span></a></li>
          <li><a href="#">The hunger project <span> - 201 projects</span></a></li>
          <li><a href="#">The hunger project <span> - 201 projects</span></a></li>
        </ul>
      </div>

      <div class="donors-in-this-country mod-info">
        <h3>donors in this country</h3>
        <ul>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
        </ul>
      </div>

      <div class="organizations-in-this-country mod-info">
        <h3>organizations in this country</h3>
        <ul>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
          <li><a href="#">The hunger project</a></li>
        </ul>
      </div>

      <div class="location mod-info">
        <div class="mod-location">
          <h3>location</h3>
          <p>Qinghai</p>
          <img src="" alt="">
        </div>
      </div>

      <div class="reporting-organization mod-info">
        <h3>reporting organization</h3>
        <div class="mod-reporting organization">
          <img src="" alt="">
          <a href="#">Adventist Developement and Relief Agency (ADRA)</a>
        </div>
      </div>

      <div class="project-time-line mod-info">
        <h3>project time line</h3>
        <div class="mod-time-line">
          <span>04/01/2012</span>
          <p><span>47 months left</span></p>
          <span>01/03/2018</span>
        </div>
      </div>

      <div class="project-budget mod-info">
        <h3>project budget</h3>
        <span class="budget">577,687</span>
      </div>

      <div class="donors mod-info">
        <h3>donors</h3>
        <ul>
          <li><a href="#">Private donations</a></li>
          <li><a href="#">ADRA china</a></li>
        </ul>
      </div>

      <div class="prime-awardee mod-info">
        <h3>prime awardee</h3>
        <p>ADRA china</p>
      </div>

      <div class="local-partners mod-info">
        <h3>local partners</h3>
        <p>zaduo health bureau</p>
      </div>

      <div class="people-reached mod-info">
        <h3>people reached</h3>
        <span class="people-reached">10,000</span>
      </div>

      <div class="target-groups mod-info">
        <h3>target groups</h3>
        <p>families and newborns</p>
      </div>

      <div class="contact-info mod-info">
        <h3>contact information</h3>
        <div class="mod-contact-info">
          <h4>Mahendra Lohani</h4>
          <p>Vice president for Asia/South</p>
          <p>Pacific</p>
          <p>501-907-4938</p>
          <a href="#">mahendra.lohani@heifer.org</a>
        </div>
      </div>

      <div class="project-website mod-info">
        <h3>project website</h3>
        <a href="#">www.adrachina.org</a>
      </div>

      <div class="export-data mod-info">
        <h3>export data</h3>
        <div class="mod-downloads">
          <ul>
            <li><a href="#" class="csv">csv</a></li>
            <li><a href="#" class="xls">xls</a></li>
            <li><a href="#" class="kml">kml</a></li>
            <li><a href="#" class="embebed">Embebed this map</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>

<section class="content">
  <h2>Featured Projects</h2>

  <div class="mod-downloads">
    <ul>
      <li><a href="#" class="csv">csv</a></li>
      <li><a href="#" class="xls">xls</a></li>
      <li><a href="#" class="kml">kml</a></li>
      <li><a href="#" class="embebed">Embebed this map</a></li>
    </ul>
  </div>

  <div class="articles-list">

    <article class="mod-article">
      <title><a href="#">Aid for Cuban Medical Students</a></title>
      <footer>
        <span>in <a href="#">Cuba</a> by <a href="#Global Links"></a></span>
      </footer>
      <p>Global Links has been providing doctor’s kits – loaded with equipment for primary care to students at the Latin...</p>
      <a class="go-to-section" href="#">Learn more</a>
    </article>

  </div>
</section> <!-- content -->

