<div class="main_layout mod-backoffice-iati-publisher">
    <div class="block">
        <div class="top"></div>
        <div class="med ngos_list">
            
            <div class="section-link">
                <h2><%= link_to 'Publisher Info', '#', :class => 'disabled' %></h2>
                <p>View data linked to your publisher profile on the IATI Registry</p>
            </div>
            
            <div class="section-link">
                <h2><%= link_to 'Revision History', '#', :class=> 'disabled' %></h2>
                <p>History of your publisher's activity on the IATI Registry</p>
            </div>
            
            <div class="section-link">
                <h2><%= link_to 'Data Publisher', admin_iati_publisher_path %></h2>
                <p>View publication schedule and do manual data synchronization</p>
            </div>
        
        </div>
    </div>
</div>