<div class="affiliated-organizations mod-info">
  <h3>affiliated organizations</h3>
  <ul>
    <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
    <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
    <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
    <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
    <li><a href="#">Adventist Developement and Relief Agency (ADRA)</a></li>
  </ul>
</div>