<div class="contact-info mod-info">
  <h3>contact information</h3>
  <div class="mod-contact-info">
    <h4>Mahendra Lohani</h4>
    <p>Vice president for Asia/South</p>
    <p>Pacific</p>
    <p>501-907-4938</p>
    <a href="#">mahendra.lohani@heifer.org</a>
  </div>
</div>