<div class="follow-us mod-info">
  <h3>follow us</h3>
  <div class="mod-follow-us">
    <ul>
      <li><a href="#" class="twitter"></a></li>
      <li><a href="#" class="facebook"></a></li>
      <li><a href="#" class="goggle"></a></li>
      <li><a href="#" class="linkedin"></a></li>
    </ul>
  </div>
</div>