body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-size: 13px;
  color: $color-3;
   -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: bold;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

p { line-height: 1.5em;}

@media screen and (max-width: 768px) {
  body { font-size: 1em;}
}

/*********************************************************************************************/
/******************************************LINKS**********************************************/
/*********************************************************************************************/
a {
  display: block;
  color: $color-3;
  text-decoration: none;
}
/*********************************************************************************************/
/******************************************TITLES*********************************************/
/*********************************************************************************************/
.title {

}
.subtitle {

}

/*********************************************************************************************/
/******************************************BUTTONS********************************************/
/*********************************************************************************************/

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/*********************************************************************************************/
/******************************************BORDERS********************************************/
/*********************************************************************************************/
$border-bottom-color-1: 5px solid rgba($color-1, .3);





/*********************************************************************************************/
/**************************************COMUN ICONS********************************************/
/*********************************************************************************************/





