/*********************************************************************************************/
/******************************************HEADER*********************************************/
/*********************************************************************************************/
header {
  height: 120px;
}



/*********************************************************************************************/
/******************************************SECTIONS*******************************************/
/*********************************************************************************************/
.mod-map {
  height: 725px;
  background-color: $blue;
}
.categories-selector {
  height: 50px;
  background-color: $color-4;
}



/*********************************************************************************************/
/******************************************FOOTER*********************************************/
/*********************************************************************************************/
footer {
  height: 170px;
  background-color: $color-4;
}
