/*********************************************************************************************/
/******************************************HEADER*********************************************/
/*********************************************************************************************/
.mod-header {
  height: 154px;
  position: relative;
  z-index: 100;
  .follow-us-container {
    width: 100%;
    padding: 7px 0;
    height: 20px;
    border-bottom: 1px solid $color-10;
    background-color: $color-4;
  }
  .mod-info {
    float: right;
    margin: 0;
    padding: 0;
  }
  .mod-follow-us {
    float: right;
  }
}



/*********************************************************************************************/
/******************************************SECTIONS*******************************************/
/*********************************************************************************************/

.categories-selector {
  position: relative;
  top: -60px;
  height: 50px;
  background-color: $color-4;
}

.layout-content {
  margin-bottom: 30px;
}
.layout-sidebar {
  margin-bottom: 30px;
}

.layout-sidebar .is-fixed {
  top: 10%;
}
.layout-content { position: relative;}

.mod-map-controls {
  position: relative;
  top: 20px;
  z-index: 100;
}


/*********************************************************************************************/
/******************************************ASIDE**********************************************/
/*********************************************************************************************/





/*********************************************************************************************/
/******************************************FOOTER*********************************************/
/*********************************************************************************************/
.mod-footer {
  height: 120px;
  background-color: $color-4;
}
