/*********************************************************************************************/
/******************************************HEADER*********************************************/
/*********************************************************************************************/
.mod-header {
  height: 120px;
}



/*********************************************************************************************/
/******************************************SECTIONS*******************************************/
/*********************************************************************************************/
.mod-map {
  height: 725px;
}

.categories-selector {
  height: 50px;
  background-color: $color-4;
}

.layout-sidebar, .layout-content {
  margin-top: 60px;
  margin-bottom: 30px;
}
.layout-sidebar .is-fixed {
  top: 10%;
}
.layout-content { position: relative;}



/*********************************************************************************************/
/******************************************FOOTER*********************************************/
/*********************************************************************************************/
.mod-footer {
  height: 120px;
  background-color: $color-4;
}
