/*********************************************************************************************/
/******************************************HEADER*********************************************/
/*********************************************************************************************/
.mod-header {
  height: 120px;
}



/*********************************************************************************************/
/******************************************SECTIONS*******************************************/
/*********************************************************************************************/
.mod-map {
  height: 725px;
}

.categories-selector {
  height: 50px;
  background-color: $color-4;
  margin-bottom: 60px;
}

.content { position: relative;}



/*********************************************************************************************/
/******************************************FOOTER*********************************************/
/*********************************************************************************************/
.mod-footer {
  height: 120px;
  background-color: $color-4;
}
