@mixin absolute($top: auto, $left: auto, $bottom: auto, $right: auto, $zindex: auto) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
  z-index: $zindex;
}

@mixin fixed($top: auto, $left: auto, $bottom: auto, $right: auto, $zindex: auto) {
  bottom: $bottom;
  left: $left;
  position: fixed;
  right: $right;
  top: $top;
  z-index: $zindex;
}

@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin grid($column) {
  width: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}

@mixin offset($column) {
  margin-left: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin before($content, $display, $position, $left, $top, $width, $height) {
  content: $content;
  display: $display;
  position: $position;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
}
@mixin after($content, $display, $position, $right, $bottom, $width, $height) {
  content: $content;
  display: $display;
  position: $position;
  right: $right;
  bottom: $bottom;
  width: $width;
  height: $height;
}

@mixin link-states($primary-color, $display) {
  display: $display;
  color: $primary-color;
  &:hover { text-decoration: underline;}
  //&:visited { color: darken($primary-color, 10%);}
}

@mixin theme-color-1 { $primary-color: $color-1;}
@mixin theme-color-3 { $primary-color: $color-3;}
@mixin theme-color-7 { $primary-color: $color-7;}
@mixin theme-color-8 { $primary-color: $color-8;}
@mixin theme-color-9 { $primary-color: $color-9;}

@mixin negative-radius-upper($background-color, $height) {
  background: linear-gradient(315deg, transparent $height, $background-color 0) bottom right;
  background-image: radial-gradient(circle at 100% 100%, transparent $height, $background-color $height+2px);
}

@mixin negative-radius-downer($background-color, $height) {
  background: linear-gradient(45deg, transparent $height, $background-color 0) top right;
  background-image: radial-gradient(circle at 100% 0%, transparent $height, $background-color $height+2px);
}

@mixin categorie-selector($primary-color) {
  &:hover, &.active {
    background-color: $primary-color;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &.active {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &:hover:after {
    @include after('', block, absolute, -15px, auto, 15px, 15px);
    top: 0;
    @include negative-radius-upper($primary-color, 15px);
  }
}

@mixin categorie-selector-child($primary-color) {
  border-bottom: 10px solid $primary-color;
  a { color: $primary-color;
    &:hover { color: $primary-color;}
  }
  li {
    &:hover, &.active { background-color: rgba($primary-color, 0.1)}
  }
  input {
    color: $primary-color;
    @include placeholder { color: $primary-color;}
    background-color: rgba($primary-color, 0.3);
  }
}

@mixin drop-down-menu($primary-color){
  &:hover .index-item {
    background-color: rgba($primary-color, .3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &:after {
      @include after('', block, absolute, -12px, 0, 12px, 12px);
      @include negative-radius-downer(rgba($primary-color, .3), 12px);
    }
  }
  .submenu {
    border-top: 5px solid rgba($primary-color, .3);
  }
  .submenu-item { background-color: rgba($primary-color, .1);
    &:hover {
      background-color: rgba($primary-color, .3);
    }
    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  &:hover .active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &.active {
    background-color: $primary-color;
    color: $color-0;
    &:hover {
      color: $color-3;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      a { color: $color-3;}
    }
  }
}

















