.is-hidden {
  display: none !important;
  visibility: hidden;
}
.is-visible {
  display: block;
}

.is-fixed {
  position: fixed;
  .grid-4 & {
    width: 13%;
  }
}

.is-clearfix {
  @include clearfix();
}

@media print {
  .is-unprintable {
    display: none;
  }
}
