<div class="main_layout mod-backoffice-geolocations">
    <div class="block project_info">
        <div class="top"></div>
        <div class="med">
            <div class="left">
		<h2 class="museo_sans">Create a New Geolocation</h2>
                <%= render :partial => 'form' %>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</div>
