{{#if profile}}
  <h2>Profile name</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="profile-item mod-report-summary">
    <div class="summary-wrap">
      <div class="summary-item">
        <h3>Projects</h3>
        <span class="value">116</span>
      </div>

      <div class="summary-item">
        <h3>Donors</h3>
        <span class="value">43</span>
      </div>

      <div class="summary-item">
        <h3>Countries</h3>
        <span class="value">11</span>
      </div>
    </div>
  </div>

  <div class="profile-item is-flex">
    <div class="budget-item">min. (USD): 200</div>
    <div class="budget-item">median (USD): 30</div>
    <div class="budget-item">max. (USD): 1000</div>
  </div>

  <div class="profile-item row">
    {{#each profile.charts}}
      <div class="mod-report-grid-3">
        <h3>{{name}}</h3>
        <div class="mod-report-stacked-chart"></div>
      </div>
    {{/each}}
  </div>

  <div class="row profile-item">
    <div class="grid-8">
      <h3>Contact info</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="grid-8 offset-1">
      <h3>Donation info</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="profile-item" id="profileMap"></div>

{{/if}}

{{#if snapshot}}
  <h2>{{snapshot.title}}</h2>
  <p>{{snapshot.description}}</p>
  <div class="row">
    {{#each snapshot.charts}}
      <div class="mod-report-grid-3">
        <h3>{{name}}</h3>
        <div class="mod-report-stacked-chart"></div>
      </div>
    {{/each}}
  </div>
  <!-- <div class="row">
    <div class="mod-report-locations" id="reportDonorsLocations">
      <div class="mod-report-locations-header">
        <h3>Project locations</h3>
        <ul>
          <li>
            <span class="current">By number of projects</span>
            <ul class="mod-report-locations-header-child">
              <li><a href="#by-projects" data-layer="donors_by_projects">By number of projects</a></li>
              <li><a href="#by-organizations" data-layer="donors_by_organizations">By number of organizations</a></li>
              <li><a href="#by-countries" data-layer="donors_by_countries">By number of countries</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mod-report-locations-map" id="reportDonorsMap"></div>
    </div>
  </div> -->
{{/if}}
