.mod-follow-us {
  aside & {
    li {
      float: left;
      margin-right: 16px;
    }
    a {
      height: 45px;
      width: 45px;
    }
    .twitter { background: image-url('twitter.png') no-repeat center;}
    .facebook { background: image-url('facebook.png') no-repeat center;}
    .google { background: image-url('google.png') no-repeat center;}
    .linkedin { background: image-url('linkedin.png') no-repeat center;}
    .email { background: image-url('email.png') no-repeat center;}
  }

  .mod-header & {
    li {
      float: left;
      &:first-child { margin-right: 10px;}
    }
    a {
      width: 21px;
      height: 21px;
      float: right;
    }
    .twitter {
      background: image-url('icon-tw-lt.png') no-repeat center;
      &:hover { background: image-url('icon-tw-lt-color.png') no-repeat center;}
    }
    .facebook {
      background: image-url('icon-fb-lt.png') no-repeat center;
      &:hover { background: image-url('icon-fb-lt-color.png') no-repeat center;}
    }
  }
}
