.mod-categories-child {
  display: none;
  position: absolute;
  left: 0;
  top: -360px;
  z-index: 100;
  width: 250px;
  height: 350px;
  background-color: $color-0;
  overflow: scroll;
  li {
    float: none;
    line-height: 15px;
    margin: 0;
  }
  a {
    font-size: 16px;
    text-transform: none;
  }
  input {
    width: 90%;
    margin: 0;
    padding: 5px 5%;
    text-transform: uppercase;
  }
}
.sector-child {
  @include categorie-selector-child($color-2);
}
.organizations-child {
  @include categorie-selector-child($color-6);
}
.donors-child {
  @include categorie-selector-child($color-7);
}
.countries-child {
   @include categorie-selector-child($color-8);
}
.regions-child {
  @include categorie-selector-child($color-9);
}
