.mod-map-controls {

  .control-navbar, .control-zoom {
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 0 5px rgba($color-1 ,0.3);
  }
  .control-zoom {
    float: right;
    position: relative;
    width: 90px;
    height: 40px;
    background-color: $color-0;
  }

  .zoom-in, .zoom-out {
    position: absolute;
    width: 50%;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      background: rgba($color-1, .3);
    }

  }
  .zoom-out {
    right: -1px;
    border-left: 1px solid rgba($color-1, .3);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .zoom-in {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .control-navbar {
    float: left;
    background-color: $color-0;
  }

  .selector {
    position: relative;
    height: 40px;
    text-align: left;
    line-height: 40px;
    &:hover {
      .selector-options  {
        display: block;
        position: absolute;
        top: 35px;
        left: 5px;
        width: 150px;
      }
      .current-selector {
        background-color: $color-1;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        color: $color-0;
        &:after {
          @include after ('', block, absolute, -15px, 0, 15px, 15px);
          z-index: 100;
          @include negative-radius-downer ($color-1, 15px);
        }
      }
    }
  }
  .current-selector {
    text-align: center;
    display: block;
    position: relative;
    height: 30px;
    margin: 5px;
    padding: 0 15px;
    line-height: 30px;
  }
  .selector:last-child {
    display: block;
    float: right;
    padding-right: 10px;
    &:hover .selector-options {
      //left: 0px;
    }
  }
  .selector:first-child {
    display: block;
    float: left;
    border-right: none;
    padding-left: 10px;
    &:hover .selector-options {
        left: 15px;
    }
  }

  .selector-options {
    display: none;
    background-color: $color-0;
    border-top: $border-bottom-color-1;
    border-color: $color-1;
    text-transform: none;
    z-index: 100;
    li {
      position: relative;
      &:hover { background-color: rgba($color-1, .3);}
      a { padding-left: 15px; padding-right: 30px;}
    }
  }
}
