.mod-footer {
  position: relative;
  height: 180px;
  padding: 40px 0;
  font-size: 13px;
  margin-top: 80px;
git add -A

  a { display: inline-block;}

  ul { margin-top: 15px;}
  li {
    float: none;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .aid-map-logo {
    width: 200px;
    margin-top: 20px;
  }
  .interaction-logo {
    float: left;
  }
  .signature {
    text-align: right;
  }

}
.mod-footer-top {
  background: image-url('footer_background_x2.png') no-repeat 75% 23px;
  background-size: 25%;
  background-color: $color-4;
}
.mod-footer-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25px;
  padding-top: 10px;
  background-color: $color-1;
  color: $color-0;
  font-weight: lighter;
  a {
    display: inline-block;
    font-weight: bold;
    color: $color-0;
  }
}



