.mod-follow-us {
  aside & {
    li {
      float: left;
      margin-right: 16px;
    }
    a {
      height: 45px;
      width: 45px;
    }
    .twitter { background: image-url('twitter.png') no-repeat center;}
    .facebook { background: image-url('facebook.png') no-repeat center;}
    .google { background: image-url('google.png') no-repeat center;}
    .linkedin { background: image-url('linkedin.png') no-repeat center;}
  }

  .content & {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    height: 34px;
    background-color: $color-7;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    h3 {
      color: $color-0;
      position: absolute;
    }
    .twitter { background: image-url('icon-tw-lt.png') no-repeat center;}
    .facebook { background: image-url('icon-fb-lt.png') no-repeat center;}
  }
}
