.mod-info {
  border-bottom: 3px solid $color-4;
  padding: 20px 0;

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
  }
  span {
    font-size: 48px;
    font-family: "Helvetica Neue light"
  }
  a {
    margin-bottom: 20px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: $color-2;
  }
}
