.mod-categories-selector {
  nav {
    float: left;
    position: relative;
    width: 80%;
    margin-top: 7px;
    padding: .5% 1%;
    background-color: $color-0;
    border-radius: 20px;
  }
  li {
    float: left;
    position: relative;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 0px;
    padding: 14px 23px;
    margin-right: 1%;
    &:hover {
      color: $color-0;
      cursor: default;
      .mod-categories-child { display: block;}
    }
    &.active {
      color: $color-0;
    }
    li {
      padding: 0;
      a {
        padding: 5px 20px;
        font-weight: normal;
      }
    }
  }
  .sector {
    @include categorie-selector($color-2);
  }
  .organizations {
    @include categorie-selector($color-6);
  }
  .donors {
    @include categorie-selector($color-7);
  }
  .countries {
    @include categorie-selector($color-8);
  }
  .regions {
    @include categorie-selector($color-9);
  }
  .search {
    padding: 0;
    border-bottom: 2px solid $color-4;
    border-radius: 0;
    form {
      margin-top: 3px;
      @include clearfix;
    }
    &:hover {
      color: $color-3;
    }
    input {
      float: left;
    }
    input[type="submit"] {
      width: 30px;
      height: 17px;
      border: none;
      background: image-url('icon-search.png') no-repeat center;
      background-color: white;
      cursor: pointer;
      float: right;
      margin-top: 2px;
    }
  }
  .fedex-logo {
    float: right;
    padding:0;
  }
}





