.mod-project-locations {
  a { display: inline-block;}
  li {
    position: relative;
    padding-left: 15px;
    color: $color-5;
  }

  .pos0:before { @include circle-decoration ($color-5); }
  .pos1:before { @include circle-decoration (rgba($color-5, .75)); }
  .pos2:before { @include circle-decoration (rgba($color-5, .50)); }
  .pos3:before { @include circle-decoration (rgba($color-5, .25)); }

}
