.mod-filtered-categories {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  border-radius: 15px;
  background-color: rgba($color-1, .75);
  font-size: 14px;
  line-height: 14px;
  max-width: 50%;
  padding: 5px 30px 5px 20px;

  li {
    display: inline;
    color: $color-0;
    line-height: 1.2;
    font-weight: lighter;

    &:last-child a:after {
      display: block;
      position: absolute;
      content: "x";
      font-weight: lighter;
      top: 50%;
      right: -20px;
      width: 15px;
      line-height: 14px;
      height: 15px;
      background-color: rgba($color-0, .3);
      margin-top: -7px;
      border-radius: 50%;
      text-align: center;
    }
  }
  a {
    display: inline;
    color: $color-0;
    position: relative;
    font-weight: bold;
  }
  img {
    position: absolute;
    right: 0px;
    top: 40%;
  }
}
