.mod-footer {
  position: relative;
  padding: 20px 0;
  ul {
    width: 100%;
  }
  li {
    float: left;
    width: 25%;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    &:first-child { text-align: left;}
    &:last-child { text-align: right;}
  }
  .aid-map-logo {
    float: left;
    margin-right: 20px;
  }
  .interaction-logo {
    float: left;
  }
  .signature {
    float: right;
    text-align: right;
    margin-top: 22px;
    color: $color-5;
  }
  .claim {
    font-size: 16px;
    font-weight: bold;
  }
  .link-to-simbiotica {
    display: inline-block;
    color: $color-5;
  }
}
.mod-footer-bottom {
  position: relative;
  margin-top: 55px;
}



