.mod-map {
  position: relative;
  top: -60px;
  min-height: 500px;
  max-height: 670px;
}

.mod-map-controls {
  position: relative;
  z-index: 100;
  height: 100%;
}
.mod-go-to-projects {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    max-width: none;
    height: auto;
    margin: auto;
  }
}

.map-tooltip {
  display: none;
  border: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 175px;
}

.map-top-tooltip {
  border: 0;
  position: relative;
  float: left;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: -3px;
  width: 150px;
  height: auto;
  background-color: $color-0;
  box-shadow: 0 0 0 5px rgba($color-1, .3);
  text-align: center;
  text-transform: lowercase;

  h3 {
    font-size: 30px;
    font-weight:  lighter;
    font-family: $font-family;
    color: $color-1;
    text-transform: none;
    margin-bottom: 7px;
  }

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-top-color: $color-0;
    border-width: 22px;
    margin-left: -22px;
  }
  &:before {
    border-color: transparent;
    border-top-color: rgba($color-1, .3);
    border-width: 23px;
    margin-left: -23px;
  }

  strong {
    font-weight: normal;
    color: $color-3;
    font-size: 13px;
  }

}



