.mod-map {
  position: relative;
  top: -60px;
}

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.map-tooltip {
  display: none;
  border: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 175px;
}

.map-top-tooltip {
  border: 0;
  position: relative;
  float: left;
  padding: 9px 15px 3px 11px;
  width: 150px;
  height: auto;
  font-size: 30px;
  font-weight:  light;
  font-family: $font-family;
  text-align: center;
  color: $color-1;
  background-color: $color-0;
  border: $border-bottom-color-1;

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-top-color: $color-0;
    border-width: 22px;
    margin-left: -22px;
  }
  &:before {
    border-color: transparent;
    border-top-color: #B3D3DE;
    border-width: 27px;
    margin-left: -27px;
  }
  .strong {
    font-weight: bold !important;
    color: $color-3 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
  }
}



