.mod-index-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $color-4;
  font-weight: lighter;
  font-size: 16px;
  h2 a{
    display: inline;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
    @include link-states($color-1, inline);
  }
  span { color: $color-5;}
  span a {
    @include link-states($color-2, inline-block);
  }
  .learn_more {
    @include link-states($color-1, inline-block);
  }
}

.articles-list li:last-child .mod-index-item {
  border-bottom: none;
}
