.mod-hero {
  height: 340px;

  &.about {
    background: image-url('hero-about.png') no-repeat center top;
    background-color: $color-4;
    @include theme-color-8;
    border-top: 5px solid $primary-color;
  }
}
