.mod-content-article {
  font-family: "Helvetica Neue";
  font-size: 16px;
  .section-title { padding-bottom: 50px;}
  .subsection {
    padding-bottom: 50px;
  }
  .subsection-title {
    font-family: "Helvetica Neue light";
    font-weight: normal;
    font-size: 36px;
    color: $dominant-color;
  }
  a {
    display: inline-block;
    color: $color-2;
  }

  li {
    list-style: disc;
    line-height: 25px;
  }
  ul {
    padding: 20px 30px;
    list-style: disc;
  }
}

