.mod-categories-child {
  position: absolute;
  top: 0;
  overflow: scroll;
  height: 320px;
  li {
    float: none;
    line-height: 15px;
    margin: 0;
  }
  a {
    font-size: 16px;
    text-transform: none;
  }
  .sector & {
    height: 350px;
    overflow: none;
    li {
      width: 50%;
      float: left;
      line-height: 20px;
    }
  }
}
.sector-child {
  @include categorie-selector-child($color-2);
}
.organizations-child {
  @include categorie-selector-child($color-6);
}
.donors-child {
  @include categorie-selector-child($color-7);
}
.countries-child {
   @include categorie-selector-child($color-8);
}
.regions-child {
  @include categorie-selector-child($color-9);
}
