.mod-follow-us {
  a {
    height: 45px;
    width: 45px;
  }
  .twitter { background: image-url('twitter.png') no-repeat center;}
  .facebook { background: image-url('facebook.png') no-repeat center;}
  .google { background: image-url('google.png') no-repeat center;}
  .linkedin { background: image-url('linkedin.png') no-repeat center;}
}
