.mod-index-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid $color-4;
  font-weight: lighter;
  font-size: 16px;
  h2 a{
    color: $color-1;
    font-size: 16px;
    padding-bottom: 15px;
  }
  span { color: $color-5;}
  span a {
    display: inline-block;
    color: $color-2;
  }
  .learn_more {
    display: inline-block;
    color: $color-1;
  }
}

.articles-list li:last-child .mod-index-item {
  border-bottom: none;
}
