.mod-categories-selector {
  nav {
    float: left;
    position: relative;
    width: 98%;
    margin-top: 7px;
    padding: .5% 1%;
    background-color: $color-0;
    border-radius: 20px;
  }
  li {
    float: left;
    position: relative;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 0px;
    padding: 14px 23px;
    margin-right: 1%;
    &.search { padding: 0;}
    &:hover {
      color: $color-0;
      cursor: default;
      .mod-go-up-menu { display: block;}
      .mod-drop-down-menu { display: block;}
    }
    &.active {
      color: $color-0;
    }
    li {
      padding: 0;
      a {
        padding: 5px 20px;
        font-weight: normal;
      }
    }
  }
  .fedex-logo {
    float: right;
    padding:0;
  }
  .search {
    height: 25px;
    border-bottom: 2px solid $color-4;
    input#q {
      background-color: $color-0;
      height: 25px;
    }
    input[type="submit"] {
      height: 25px;
    }
  }
}
.sector {
  @include categorie-selector($color-2);
}
.organizations {
  @include categorie-selector($color-6);
}
.donors {
  @include categorie-selector($color-7);
}
.countries {
  @include categorie-selector($color-8);
}
.regions {
  @include categorie-selector($color-9);
}






