.mod-backoffice-stories {
    hr {
        margin: 2em 0;
    }
    .formtastic {
        input[type=text],
        input[type=email],
        textarea {
            box-shadow: inset 0 0 4px -1px #444;
            border-radius: 5px;
            padding: 0.5em;
            margin-top: 5px;
            color: inherit !important;
            font: inherit !important;
            line-height: 1.4 !important;
            background: none !important;
            position: initial !important;
        }
        select,
        input[type=file] {
            margin-top: 5px;
        }
        .select {
            option {
                text-transform: capitalize;
            }
        }
        .choices-group {
            padding-left: 0;
            float: none;
            margin: 0 auto;
        }
        .choices {
            .label {
                position: relative;
            }
        }
        .choice {
            margin-right: 1em;
            label {
                color: inherit !important;
                text-transform: capitalize !important;
                font-size: 1em !important;
                font: inherit !important;
            }
        }
        .boolean {
            label {
                padding-left: 0;
            }
        }
        .inline-errors {
            margin: 0.5em 0;
        }
        .link_action {
            height: 32px;
            line-height: 32px;
            padding: 0;
            margin-left: 1em;
        }
        .actions {
            margin: 2em 0;
        }
        input[type=submit] {
            margin: 0 !important;
        }
    }
    .faux-label {
        display: block;
        margin: 18px 0 5px 1px;
        font: bold 11px Arial;
        color: #999999;
        text-transform: uppercase;
    }
    .needs-review {
        border-left: 11px solid lighten($color-7, 10%);
        padding: 1em;
        box-shadow: 0 0 3px -1px;
        margin-top: 1em;
        text-align: center;
        p {
            color: $color-3;
            padding: 1em;
            font-weight: bold !important;
            text-align: center;
            font-family: inherit !important;
        }
        label {
            float: none !important;
            width: auto !important;
            margin: 0 1em 0 0 !important;
            font: inherit !important;
            color: inherit !important;
            text-transform: none !important;
        }
    }
    .table {
        width: 100%;
        margin: 2em 0;
        .th {
            font-weight: bold;
            font-size: 12px;
            color: $color-5;
            text-transform: uppercase;
            padding: 0.75em 0;
            border-bottom: 1px solid $color-4;
        }
        .td {
            padding: 2em 0;
        }
        .tr:nth-child(even) {
            background: lighten($color-4, 5%);
        }
        .first {
            padding-left: 1em;
        }
    }
    .circle {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        margin: 0 auto;
        &.true {
            background: lighten(green, 15%);
        }
        &.falsy {
            background: lighten($color-5, 10%);
        }
    }
    
}