.mod-report-filter {
  .comboselect {
    width: 100%;
    margin-bottom: 20px;
  }
  .applied-filters {
    width: 90%;
    padding: 5%;
    border: 2px solid $color-4;
  }
  #s2id_start_date_year,
  #start_date_year,
  #s2id_start_date_month,
  #s2id_start_date_day,
  #s2id_end_date_year,
  #s2id_end_date_month,
  #s2id_end_date_day
  { width: 31% !important;}

  .select2-container-multi .select2-choices .select2-search-choice:first-child {
    margin-top: 20px;
  }
}

.ui-tabs .ui-tabs-nav li {
  box-sizing: border-box;
  width: 50%;
  padding-left: 5%;
  margin: 0;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 2px solid $color-4;
  text-align: center;
  &:first-child:before {
    @include before('', block, absolute, 10px, 10px, 30px, 28px);
    @include icons-sprite(icon-folder-hover);
  }
  &:last-child:before {
    @include before('', block, absolute, 5px, 10px, 35px, 30px);
    @include icons-sprite(icon-schema-hover);
  }
  a {
    color: $color-4;
    font-size: 14px;
  }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border: 2px solid $color-4;
  border-bottom: none;
  &:first-child:before {
    @include before('', block, absolute, 10px, 10px, 30px, 28px);
    @include icons-sprite(icon-folder);
  }
  &:last-child:before {
    @include before('', block, absolute, 5px, 10px, 35px, 30px);
    @include icons-sprite(icon-schema);
  }
  a {
    color: $color-3;
  }
}

.select2-container .select2-choice {
  background: $color-4;
  font-size: 13px;
}
