.mod-form {
  padding-bottom: 20px;
  .search {
    width: 90%;
    padding: 0 5%;
    border-radius: 20px;
    background-color: $color-4;
    overflow: hidden;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  input, select {
    width: 90%;
    height: 40px;
    padding: 0 5%;
    margin-bottom: 15px;
    background-color: $color-4;
  }
  select {
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    color: $color-5;
    background: image-url('form-background.png') no-repeat center;
  }
  #date_start_year,
  #date_start_month,
  #date_end_year,
  #date_end_month {
    width: 49%;
    float: left;
    background: image-url('form-background-lt.png') no-repeat center;
  }
  #date_start_year,
  #date_end_year {
    margin-right: 2%;
  }
  #q{
    float: left;
    width: 85%;
    padding: 0;
    padding-left: 5%;
    margin-bottom: 0;
  }
  input[type="submit"] {
    width: 10%;
    float: right;
    margin-bottom: 0;
    background: image-url('search-background.png') no-repeat center;
  }
}
