.mod-categories-selector {
  nav {
    float: left;
    position: relative;
    width: 80%;
    margin-top: 7px;
    padding: .5% 1%;
    background-color: $color-0;
    border-radius: 20px;
  }
  li {
    float: left;
    font-family: "Helvetica Neue light";
    font-size: 14px;
    text-transform: uppercase;
    line-height: 0px;
    padding: 14px 15px;
    margin: 0 1%;
    &:hover {
      color: $color-0;
      font-family: "Helvetica Neue bold";
      .mod-categories-child { display: block; }
    }
  }
  a {
    padding: 14px 15px;
    margin: 0 1%;
  }
  .sector:hover {
    background-color: $color-2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .organizations:hover {
    background-color: $color-6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .donors:hover {
    background-color: $color-7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .countries:hover {
    background-color: $color-8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .regions:hover {
    background-color: $color-9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .search {
    width: 190px;
    padding-bottom: 3%;
    padding-left: 0;
    border-bottom: 2px solid $color-4;
    border-radius: 0;
    &:hover {
      color: $color-3;
    }
  }
  .fedex-logo {
    float: right;
    padding:0;
  }
}





