.mod-filtered-categories {
  position: absolute;
  bottom: 30px;
  width: 100%;

  font-size: 14px;
  line-height: 1.2;

  z-index: 100;

  h3 {
    margin: 0;
    color: $color-1;
    position: absolute;
    top: -22px;
  }

  .feature, .filtered {
    float: left;
    margin: 0;
    color: $color-0;
    max-width: 80%;
    background-color: rgba($color-1, .75);
    border-radius: 20px;
  }

  .feature {
    line-height: 50px;
  }

  .filtered {
    padding: 5px 15px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    vertical-align: middle;

    a {
      position: relative;
      display: inline;
      color: $color-0;

      &:after {
        display: inline-block;
        content: "x";
        font-weight: lighter;
        width: 15px;
        line-height: 14px;
        height: 15px;
        background-color: rgba($color-0, .3);
        border-radius: 50%;
        text-align: center;
        margin-left: 5px;
      }
    }
  }

  .btn-go-to-projects {
    position: absolute;
    height: 32px;
    padding: 0 30px 0 15px;
    right: 0;
    top: auto;
    bottom: 0;

    background: $color-0 image-url("down.svg") no-repeat 95% 50%;
    background-size: 12px 18px;

    border-radius: 40px;

    color: $color-1;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;

    &:hover{
      background-color: darken($color-0, 5%);
    }
  }
}

.mod-btn-projects {
  float: right;
}
