.mod-header {
  font-size: 14px;
  position: relative;
  .aid-map-logo {
    float: left;
    padding-top: 1.5%;
  }
  ul {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 50%;
  }
  li {
    float: left;
    text-transform: uppercase;
    a{
      padding: 5px 15px;
      border-radius: 10px;
    }
    &:hover a { color: $color-0;}
    &:last-child:hover a { color: $color-3;}
  }
  .interaction-logo {
    float: right;
    padding-top: 2%;
  }
  .home:hover a{ background-color: $color-3;}
  .about:hover a{ background-color: $color-8;}
  .news:hover a{ background-color: $color-7;}
  .contact:hover a{ background-color: $color-1;}
  .access:hover a{ color: $color-00;}
}

