.mod-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 60px;
  box-shadow: 0 0 0 5px rgba($color-1, 0.3);

  .about &,
  .purpose &,
  .getting-on-the-map &,
  .staff-list &,
  .contact-us &,
  .of-interest & { box-shadow: 0 0 0 5px $color-8;}

  .data &,
  .top-things-you-should-know-about-the-data &,
  .data-guidance &,
  .analysis & { box-shadow: 0 0 0 5px $color-1;}

  .aid-map-logo {
    float: left;
    padding-top: 20px;
  }
  .menu {
    margin-top: 50px;
  }
  .menu-item {
    float: left;
    width: 19%;
    margin: 0 .5%;
    text-align: center;
    text-transform: uppercase;
    &.access { width: 35%;}
    .index-item {
      position: relative;
      padding: 5px 1%;
      &.active { border-radius: 15px;}
    }
  }

  .interaction-logo {
    float: right;
    padding-top: 20px;
  }
  .submenu {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: $color-0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .submenu-item {
      float: none;
      text-align: left;
    }
    a {
      text-transform: none;
      padding: 10px 25px;
      font-weight: bold;
    }
  }

  .home { @include menu-item($color-3);}
  .about { @include drop-down-menu($color-8);}
  .data { @include drop-down-menu($color-1);}
  .access { @include menu-item($color-2);}
}

.mod-footer .submenu { display: none;}

