.mod-report {
  padding: 20px 0;
  border-bottom: 3px solid #eee;

  table {  width: 100%; }
  td { padding: 2px 0; }
  &:last-child { border-bottom: 0; }
}

.mod-report-grid-3 {
  float: left;
  margin: 0 1%;
  width: 31.333334%;
}

.report-spinner {
  position: absolute;
  top: 200px;
  left: 50%;
}

.mod-report-summary {
  th {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  td {
    font-weight: lighter;
    font-size: 36px;
  }
}

.mod-report-budget {
  .mod-report-budget-total {
    font-weight: lighter;
    font-size: 36px;
    text-transform: uppercase;
    .small {
      font-size: 14px;
      vertical-align: baseline;
    }
  }

  .mod-report-budget-min,
  .mod-report-budget-average,
  .mod-report-budget-max {
    padding-top: 20px;
    &:before {
      content: " ";
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ddd;
      margin-right: 7px;
    }
  }
  .mod-report-budget-min:before {
    background-color: $color-1;
  }
  .mod-report-budget-average:before {
    background-color: $color-4;
  }
  .mod-report-budget-max:before {
    background-color: $color-0;
  }

  .mod-report-budget-chart {
    border: 1px solid #ddd;
    overflow: hidden;
    margin-top: 20px;
    @include border-radius(4px);
  }

  .mod-report-budget-chart-item {
    height: 10px;
    float: left;
    &.min {
      background-color: $color-1;
    }
    &.average {
      background-color: $color-4;
    }
    &.max {
      background-color: $color-0;
    }
  }
}

.mod-report-locations {
  .mod-report-locations-map {
    background-color: $color-4;
    height: 380px;
  }

  .report-marker {
    max-width: 50px;
    max-height: 50px;
    background-color: $color-2;
    text-align: center;
    color: $color-0;
    @include border-radius(100%);
    @include box-shadow(0 0 0 3px rgba($color-0, .6));
  }
}

#printReport, #saveReport {
  @extend .apply;
  width: 48%;
  float: left;
  &:first-child { margin-right: 4%;}

}

.mod-report-locations-header {
  background-color: $color-4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.mod-report-locations-header-child {
  padding-left: 0;
  font-weight: bold;
  list-style: none; list-decoration: none;
  li { list-decoration: none;}
  a { color: $color-3}
}
