.mod-hero {
  height: 340px;
  position: relative;
  top: -60px;
  background-color: $color-4;
  .about &,
  .purpose &,
  .getting-on-the-map &,
  .staff-list &,
  .contact-us &,
  .of-interest & { background: image-url('hero-about.png') no-repeat center top;}
}
