.mod-report {
  padding: 20px 0;
  border-bottom: 3px solid #eee;

  table {  width: 100%; }
  td { padding: 2px 0; }
  &:last-child { border-bottom: 0; }

  &.mod-report-intro {
    border-bottom: 0;
    padding-top: 0;

    img {
      display: inline-block;
      margin-top: 30px;
    }
    p {
      margin-bottom: 1em;
      text-align: left;
      font-size: 16px;
    }
  }
}

.mod-applied-filters {
  padding: 15px 20px;

  border: 3px solid #eee;

  @include border-radius(10px);

  p {
    margin: .5em 0;
  }
}

.report-title {
  textarea {
    display: inline-block;
    width: 100%;

    border: 0;

    color: $color-1;
    font-family: $font-family;
    font-size: 48px;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    overflow: hidden;
    resize: none;

    &:focus {
      outline: 0;
    }
  }
}

.mod-report-grid-3 {
  float: left;
  margin: 0 1%;
  width: 31.333334%;
}

.report-spinner {
  position: absolute;
  top: 200px;
  left: 50%;
}

.mod-report-summary {
  th {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  td {
    font-weight: lighter;
    font-size: 36px;
  }
}

.mod-report-budget {
  .mod-report-budget-total {
    font-weight: lighter;
    font-size: 36px;
    text-transform: uppercase;
    .small {
      font-size: 14px;
      vertical-align: baseline;
    }
  }

  .mod-report-budget-min,
  .mod-report-budget-average,
  .mod-report-budget-max {
    padding-top: 20px;
    text-transform: uppercase;
    &:before {
      content: " ";
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #ddd;
      margin-right: 7px;
    }
  }
  .mod-report-budget-min:before {
    background-color: $color-1;
  }
  .mod-report-budget-average:before {
    background-color: $color-4;
  }
  .mod-report-budget-max:before {
    background-color: $color-0;
  }

  .mod-report-budget-chart {
    border: 1px solid #ddd;
    overflow: hidden;
    margin-top: 20px;
    @include border-radius(4px);
  }

  .mod-report-budget-chart-item {
    height: 10px;
    float: left;
    &.min {
      background-color: $color-1;
    }
    &.average {
      background-color: $color-4;
    }
    &.max {
      background-color: $color-0;
    }
  }
}

.mod-report-locations {
  .mod-report-locations-map {
    background-color: $color-4;
    height: 380px;
  }

  .report-marker {
    max-width: 50px;
    max-height: 50px;
    background-color: $color-2;
    text-align: center;
    color: $color-0;
    @include border-radius(100%);
    @include box-shadow(0 0 0 3px rgba($color-0, .6));
  }
}

#printReport, #saveReport {
  @extend .apply;
  width: 48%;
  float: left;
  &:first-child { margin-right: 4%;}

}

.mod-report-locations-header {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: $color-4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  h3, ul {
    display: inline-block;
  }
  li {
    list-style: none;
    list-decoration: none;
    overflow: hidden;
    padding-right: 20px;
  }
  ul {
    position: absolute;
    top: 16px;
    right: 35px;
    padding: 0 !important;
  }
  .current {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    &:after {
      @include after('', block, absolute, -20px, 3px, 0, 0) ;
      @include triangle (5px, $color-3);
    }
  }
  &:hover .mod-report-locations-header-child {
    display: block;
  }
}
ul.mod-report-locations-header-child {
  display: none;
  position: absolute;
  top: 30px;
  width: 210px;
  left: -20px;
  z-index: 1;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #ededed;
    a { color: $color-3}
    li {
      padding-left: 20px;
      font-weight: normal;
      font-size: 15px;
    }
}

.highcharts-title {
  display: none;
}

@media print {
  .mod-header,
  .featured-projects,
  .mod-footer {
    display: none;
  }

  .grid-12.offset-1 {
    margin: 0 auto;
    float: none;
  }

  .is-break-before {
    page-break-before: always;
  }

  .highcharts-title {
    display: block;
  }

  .ui-tabs {
    .ui-tabs-nav {
      display: none !important;
    }
    .ui-tabs-panel {
      display: block !important;
    }
  }
}
