.mod-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-1, .3);
}

.mod-overlay-content {
  position: relative;
  max-width: 670px;
  padding: 5%;
  margin: 0 auto;
  margin-top: 20%;
  background-color: $color-0;
  box-shadow: 0 0 0 5px rgba($color-1 ,0.3);
  .text { margin: 0 auto;}
  .mod-overlay-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  h2 {
    margin-bottom: 40px;
    color: $color-1;
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  textarea {
    width: 96%;
    padding: 2%;
    margin-top: 1em;
    font-size: 14px;
    font-weight: normal;
    font-family: $font-family;
    color: $color-3;
    border: 1px solid $color-4;
    resize: none;
    text-align: center;
  }
}
#embedMapView {
  p{ text-align: center;}
}
