.mod-hero {
  height: 340px;
  position: relative;
  top: -30px;
  background-color: $color-4;

  .about &, .pages-page & { background: image-url('hero-about.jpg') no-repeat center; background-size: cover;}
  .contact-us & { background: image-url('hero-contact-us.jpg') no-repeat center; background-size: cover;}
  .staff-list &, .about-interaction & { background: image-url('hero-staff-list.jpg') no-repeat center; background-size: cover;}
  .getting-on-the-map &, .faqs & { background: image-url('hero-getting-on-the-map.jpg') no-repeat center; background-size: cover;}
  .of-interest &, .news-and-updates & { background: image-url('hero-of-interest.jpg') no-repeat center; background-size: cover;}
  .purpose & , .mapping-team &{ background: image-url('hero-purpose.jpg') no-repeat center; background-size: cover;}
  .highlights &, .history & { background: image-url('hero-highlights.jpg') no-repeat center; background-size: cover;}
  .data & { background: image-url('hero-data.jpg') no-repeat center; background-size: cover;}
  .top-things-you-should-know-about-the-data & { background: image-url('hero-things-you-should-know.jpg') no-repeat center; background-size: cover;}
  .data-guidance & { background: image-url('hero-data-guidance.jpg') no-repeat center; background-size: cover;}
}
