<footer class="mod-footer">

  <div class="row">
    <div class="mod-footer-top">
      <div class="grid-6 offset-5">
        <%= render 'new_partials/main-menu' %>
      </div>
      <div class="grid-6">
        <%= image_tag "footer_logos.svg", :alt  => "interaction aid map logo", :class  => "aid-map-logo", :width => '330', :height => '100' %>
      </div>
    </div>
  </div>

  <div class="mod-footer-bottom">
    <div class="row">
      <div class="grid-7">
        <div class="address">
          <p>1400 16th Street, NW. Suite 210 Washington, DC 20036</p>
        </div>
      </div>
      <div class="grid-7 offset-3">
        <div class="signature">
          <p>Copyrighted by <a href="http://www.interaction.org/" target="_blank">InterAction</a> © 2014 · Developed by <a href="http://simbiotica.es" target="_blank" class="link-to-simbiotica">Simbiótica</a></p>
        </div>
      </div>
		</div>
	</div>

</footer>
