<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NGO Aid Map</title>
    <!-- build:css(public) /stylesheets/main.css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- endbuild -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/layouts/header' %>

    <%= yield %>

    <%= render '/layouts/footer' %>

    <!-- build:js(public) /javascripts/main.js -->
    <script src="/javascripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
