<!DOCTYPE html>
<html>
<head>
  <title>NGO AID MAP</title>
  <link rel="shortcut icon" href="http://www.interaction.org/sites/default/files/interaction_favicon_0.png" type="image/png"/>


  <meta charset="utf-8">
    <title><%= CGI.unescapeHTML(title) %> · NGO Aid Map</title>
    <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css", "main" %>
    <link rel="icon" type="image/png" href="http://www.interaction.org/sites/default/files/interaction_favicon_0.png">

    <%= stylesheet_link_tag 'backoffice/jscroll.css', 'backoffice/chosen.css', 'backoffice/plugins/fineuploader-3.3.0.css', 'backoffice/jquery-ui-1.7.2.custom.css', 'backoffice/layout.css', 'backoffice/smbtc-layout.css' %>

    <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false', 'backoffice/jquery.min.js', 'backoffice/jquery.ui.core.js', 'backoffice/jquery.ui.widget.js', 'backoffice/jquery.ui.position.js', 'backoffice/jquery.ui.autocomplete.js', 'backoffice/rails.js', 'backoffice/plugins/chosen/chosen.jquery.js', 'backoffice/plugins/jquery.mousewheel.js','backoffice/plugins/jquery.jscrollpane.js', 'backoffice/plugins/date_combos.js', 'backoffice/plugins/jquery.mousewheel.js', 'backoffice/plugins/jquery.livequery.min.js', 'backoffice/plugins/jquery.stylish-select.js', 'backoffice/plugins/jHtmlArea-0.7.0.min.js', 'backoffice/plugins/fineuploader-3.3.0.js' %>
    <%= csrf_meta_tag %>

<script>
  $( document ).ready(function() {

    $('form').submit(function() {
        var valuesToSubmit = $(this).serialize();
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            cache    : false,
            data: valuesToSubmit,
            dataType: "JSON",
            success: function(json){
              $('#results').empty().text(JSON.stringify(json, undefined, 2));
            }
        });
        return false; // prevents normal behaviour
    });

  });
</script>
</head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="grid-17">
        <%= yield %>
        <div id="results">
        </div>

      </div>
    </div>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true&amp;v=3.3", "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js", "../vendor/requirejs/require", "main" %>

  </body>
</html>
